<settings>
	<proxies>
		<proxy>
		      <id>cntlm-http</id>
		      <active>true</active>
		      <protocol>http</protocol>
		      <host>${env.httpProxyHost}</host>
		      <port>${env.httpProxyPort}</port>
		</proxy>
		<proxy>
		      <id>cntlm-https</id>
		      <active>true</active>
		      <protocol>https</protocol>
		      <host>${env.httpProxyHost}</host>
		      <port>${env.httpProxyPort}</port>
		</proxy>
	</proxies>
</settings>
